<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> 


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</head>

<body>
<h1>UCS C-Series Rack-Mount Standalone Server Software Comparison</h1>

<table id="table_id">
<thead>

<tr>
<th>X</th>
<th>X</th>
<th>X</th>
{% for release in header|dictsort(reverse=true)%}
<th>{{ release[0]  }}</th>
{% endfor %}
</tr>

<tr>
<th>Component</th>
<th>Description</th>
<th>Firmware</th>

{% for release in header|dictsort(reverse=true)%}
{% for platform in header[release[0]]|dictsort%}
<th>{{ platform[0]}}</th>
{% endfor %}
{% endfor %}
</tr>
</thead>

<tbody>

{% for component in rData|dictsort %}
{% for blob in component[1]  %}
<tr>
{% for row in blob %}
<th>{{row}}</th>
{% endfor %}
</tr>
{% endfor %}
{% endfor %}

</table>
<script>
$(document).ready( function () {
    $('#table_id').DataTable()
} );
</script>
</body>
</html>
